header {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header ul {
  display: flex;
  gap: 20px;
}

.active{
  color:black;
  text-decoration: underline;
}