* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1.5px;
}

ul {
  list-style-type: none;
}

body {
  padding: 20px;
}

header {
  display: flex;
  align-items: center;
  gap: 20px;
}

footer {
  text-align: center;
}

a{
  text-decoration: none;
}