.avatar {
  border: 2px solid black;
  border-radius: 50%;
  object-fit: cover;
}

.avatar.small {
  width: 50px;
  height: 50px;
}

.avatar.medium {
  width: 80px;
  height: 80px;
}

.avatar.large {
  width: 120px;
  height: 120px;
}
