* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(22, 22, 22);
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

#available_books {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  max-width: 700px;
  text-align: center;
  gap: 20px;
  border: 1px solid whitesmoke;
  padding: 20px;
}

#pending_books {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  max-width: 800px;
  text-align: center;
  gap: 20px;
  border: 1px solid whitesmoke;
  padding: 20px;
}

#available_books li,
#pending_books li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

#available_books img,
#pending_books img {
  width: 100px;
  height: 160px;
  object-fit: cover;
}

button {
  width: 100px;
  border: 2px solid whitesmoke;
  background-color: transparent;
  color: whitesmoke;
}

button:disabled {
  opacity: 0.1;
}

button:not(:disabled):hover {
  background-color: whitesmoke;
  color: black;
}
