* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: rgb(19, 19, 19);
  color: whitesmoke;
}

h1 {
  padding: 20px;
  text-align: center;
}
