#results{
  display:grid;
  gap: 20px;
  padding: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 300px;
}

#results img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

h2{
  text-align: center;
  padding: 20px;
}