img {
  width: 200px;
  height: 300px;
  object-fit: cover;
}

main {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

article {
  padding: 20px;
  border: 2px dashed black;
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
