.avatar {
  border-radius: 50%;
  border: 2px solid black;
  object-fit: cover;
}

.avatar.small{
  width: 40px;
  height: 40px;
}

.avatar.medium{
  width: 80px;
  height: 80px;
}

.avatar.large{
  width: 140px;
  height: 140px;
}